.feedback--btn {
  border: solid 1px #000;
  border-radius: 5px;
  min-width: 100px;
  padding: 5px;
  width: auto;  
}

.feedback--close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  z-index: 10;
}

.feedback--close:hover {
  cursor: pointer;
}

.feedback--input-text {
  min-height: 30px;
}

.feedback--modal {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  padding-top: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.feedback--modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  height: auto;
  margin: auto;
  padding: 20px;
  width: 300px;
}

.feedback--title {
  font-size: 20px;
}

.feedback--video {
  height: 98%;
  left: 0;
  max-height: 660px;
  max-width: 860px;
  position: absolute;
  top: 0;
  width: 98%;
  z-index: -1;
}

.feedback--screenshot {
  border: 1px solid #000;
  margin-top: 5px;
  max-height: 100%;
  max-width: 100%;
}

.feedback--video-cover {
  height: 98%;
  left: 0;
  max-height: 660px;
  max-width: 860px;
  position: absolute;
  top: 0;
  width: 98%;
  z-index: 1;
}

.feedback--input {
  margin: 5px auto;
  width: 100%;
}
